@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  @apply m-0 min-h-screen relative;
}

.milestone {
  @apply pl-16 relative text-subheading;
  &::before {
    content: '';
    @apply absolute w-1.5 h-1.5 bg-[#C4C4C4] rounded-full top-1/2 transform -translate-y-1/2 left-5;
  }
}

#app {
  @apply container max-w-7xl mx-auto pt-12 px-6;
}

#ribbon {
  background-color: #3f3f50;
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
  @apply hidden md:block overflow-hidden whitespace-nowrap fixed right-[-50px] top-[16px] rotate-45 z-50;

  & > a {
    border: 1px dashed #727297;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    @apply text-white space-x-1 flex items-center text-center;
  }
}
